<%= form_with(model: finance, local: true) do |form| %>
  <% if finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :cd_finance %>
    <%= form.number_field :cd_finance, class:"form-control", placeholder:"Nota Fiscal" %>
  </div>

  <div class="form-group">
    <%= form.label :nm_finance %>
    <%= form.text_field :nm_finance, class:"form-control", placeholder:"Título do Gasto" %>
  </div>

  <div class="form-group">
    <%= form.label :ds_finance %>
    <%= form.text_field :ds_finance, class:"form-control", placeholder:"Motivo/Explicação do Gasto" %>
  </div>

  <div class="form-group">
    <%= form.label :vl_finance %>
    <%= form.text_field :vl_finance, class:"form-control", placeholder:"Valor em Reais" %>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-outline-success"%>
  </div>
<% end %>
