<p id="notice"><%= notice %></p>

<h1>Finanças</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nota Fiscal</th>
      <th>Tipo de Gasto</th>
      <th>Descrição do Gasto</th>
      <th>Valor em Reais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.cd_finance %></td>
        <td><%= finance.nm_finance %></td>
        <td><%= finance.ds_finance %></td>
        <td><%= finance.vl_finance %></td>
        <td><%= link_to 'Ver', finance %></td>
        <td><%= link_to 'Editar', edit_finance_path(finance) %></td>
        <td><%= link_to 'Excluir', finance, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Gasto', new_finance_path, class:"btn btn-primary btn-lg btn-block" %>
<%= link_to 'Voltar', login_useropc_path, class:"btn btn-secondary btn-lg btn-block"%>
