<p id="notice"><%= notice %></p>

<h1>Finances</h1>

<table>
  <thead>
    <tr>
      <th>Cd finance</th>
      <th>Nm finance</th>
      <th>Ds finance</th>
      <th>Vl finance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.cd_finance %></td>
        <td><%= finance.nm_finance %></td>
        <td><%= finance.ds_finance %></td>
        <td><%= finance.vl_finance %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
