<div class="jumbotron">
<h1 class="display-4">Cadastre o seu novo morador!</h1>
 <p class="lead">Insira os dados necessários para o cadastro:</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class:"col-2 col-form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :id, class:"col-2 col-form-label" %><br />
    <%= f.email_field :id, autocomplete: "ID Morador" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"col-2 col-form-label" %><br>
    <%= f.password_field :password, autocomplete: "new-password" %><br>
    <% if @minimum_password_length %>
      <small>(A senha deve conter <%= @minimum_password_length %> ou mais caracteres)</small>
    <% end %><br/>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"col-2 col-form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br>
  <p><%= f.submit "Cadastrar", class: "btn btn-success"%>
  <%= link_to 'Voltar', login_useropc_path, class:"btn btn-secondary"%></p>
<% end %>
</div>
<!--%= render "profiles/shared/links", class: "btn btn-light" %>-->

