<p id="notice"><%= notice %></p>

<h1 class="display-4"><%= t('messages.sindico') %></h1>
<div id="tab">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('showing.nome') %></th>
      <th><%= t('showing.emaill') %></th>
      <th><%= t('showing.tele') %></th>
      <th><%= t('showing.celu') %></th>
      <th><%= t('showing.ende') %></th>
      <th><%= t('showing.muni') %></th>
      <th><%= t('showing.apart') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information.each do |information| %>
      <tr>
        <td><%= information.nm_sindico %></td>
        <td><%= information.ds_email %></td>
        <td><%= information.cd_telefone %></td>
        <td><%= information.cd_celular %></td>
        <td><%= information.ds_endereco %></td>
        <td><%= information.ds_municipio %></td>
        <td><%= information.cd_apartamento %></td>
        <td class="but" ><%= link_to t('links.show'), information %></td>
        <td class="but"><%= link_to t('links.edit'), edit_information_path(information) %></td>
        <!--<td class="but"><%= link_to t('links.delete'), information, method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('links.new'), new_information_path, class:"btn btn-primary btn-lg btn-block" %>
<%= link_to t('links.back'), login_useropc_path, class:"btn btn-secondary btn-lg btn-block"%>
</div>