<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class:"form-group row">
  <div class:"form-group">
    <%= form.label :titulo, for:"formGroupExampleInput" %>
    <%= form.text_field :titulo, class:"form-control"  %>
  </div>

  <div class:"form-group row">
    <%= form.label :texto, for:"formGroupExampleInput" %>
    <%= form.text_area :texto, class:"form-control" %>
  </div>

  <div class:"form-group row">
    <%= form.label :local, for:"formGroupExampleInput"  %>
    <%= form.text_area :local, class:"form-control",  id:"exampleSelect1"%>
  </div>
  <br>
  <div>
    <%= form.label :date%>
    <%= form.date_select :date%>
  </div>
<br>
  <div class="actions">
    <%= form.submit class:"btn btn-success"%>
  </div>
  <br>
<% end %>
</form>