<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @evento.texto %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evento.date %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<%= link_to t('links.show'), edit_evento_path(@evento) %> |
<%= link_to t('links.back'), eventos_path %>
