<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @evento.texto %>
</p>

<p>
  <strong>Data:</strong>
  <%= @evento.date %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<%= link_to 'Editar', edit_evento_path(@evento) %> 
<%= link_to 'Voltar', eventos_path %>
