<div class="predio">
  <%= form_with(model: predio, local: true) do |form| %>
  <% if predio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(predio.errors.count, "error") %> prohibited this predio from being saved:</h2>

      <ul>
      <% predio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nm_predio %>
    <%= form.text_field :nm_predio, class:"form-control", placeholder:"Digite o nome do Prédio" %>
  </div>
  

  <div class="form-group">
    <%= form.label :cd_numero %>
    <%= form.text_field :cd_numero, class:"form-control", placeholder:"Número" %>
  </div>

  <div class="form-group">
    <%= form.label :cd_bloco %>
    <%= form.text_field :cd_bloco, class:"form-control", placeholder:"Bloco" %>
  </div>

  <div class="form-group">
    <%= form.label :cd_cep %>
    <%= form.text_field :cd_cep, class:"form-control", placeholder:"CEP" %>
  </div>

  <div class="form-group">
    <%= form.label :ds_endereco %>
    <%= form.text_field :ds_endereco, class:"form-control", placeholder:"Endereço" %>
  </div>

  <div class="form-group">
    <%= form.label :ds_municipio %>
    <%= form.text_field :ds_municipio, class:"form-control", placeholder:"Município" %>
  </div>
  
  <div class="form-group">
    <%= form.label :sg_estado %>
    <%= form.text_field :sg_estado, class:"form-control", placeholder:"Sigla Estado" %>
  </div>

  <div class="form-group">
    <%= form.label :ds_regioesSociais %>
    <%= form.text_field :ds_regioesSociais, class:"form-control", placeholder:"Regiões Sociais" %>
  </div>

  <div class="form-group">
    <%= form.label :cd_telefone %>
    <%= form.text_field :cd_telefone, class:"form-control", placeholder:"Telefone" %>
  </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :nm_predio %>
        <%= form.text_field :nm_predio, class:"form-control", placeholder:"Digite o nome do prédio" %>
      </div>
    </div>
      
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= form.label :cd_numero %>
        <%= form.text_field :cd_numero, class:"form-control", placeholder:"Número" %>
      </div>
        
      <div class="form-group col-md-2">
        <%= form.label :cd_bloco %>
        <%= form.text_field :cd_bloco, class:"form-control", placeholder:"X, X00, XXX000..." %>
      </div>
      
      <div class="form-group col-md-2">
        <%= form.label :cd_cep %>
        <%= form.text_field :cd_cep, class:"form-control", placeholder:"00000000" %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-row col-md-6">
        <%= form.label :ds_endereco %>
        <%= form.text_field :ds_endereco, class:"form-control", placeholder:"Endereço" %>
      </div>
    </div>
    
    <div class="form-row">  
      <div class="form-group col-md-6">
        <%= form.label :ds_municipio %>
        <%= form.text_field :ds_municipio, class:"form-control", placeholder:"Município" %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :ds_regioesSociais %>
        <%= form.text_field :ds_regioesSociais, class:"form-control", placeholder:"Piscina, Sala de Jogos, Academia..." %>
      </div>
      
      <div class="form-group col-md-2">
        <%= form.label :cd_telefone %>
        <%= form.text_field :cd_telefone, class:"form-control", placeholder:"00000000000" %>
      </div>

    </div>


  
    <div class="actions">
      <%= form.submit nil, class:"btn btn-primary btn-lg" %>
    </div>
  </form>
<% end %>
</div>
<br>
