<p id="notice"><%= notice %></p>

<h1>Perfil Síndico</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @perfils.human_attribute_name(:nm_sindico) %></th>
      <th><%= @perfils.human_attribute_name(:cd_sindico) %></th>
      <th><%= @perfils.human_attribute_name(:ds_email) %></th>
      <th><%= @perfils.human_attribute_name(:cd_telefone) %></th>
      <th><%= @perfils.human_attribute_name(:cd_celular) %></th>
      <th><%= @perfils.human_attribute_name(:ds_endereco) %></th>
      <th><%= @perfils.human_attribute_name(:ds_municipio) %></th>
      <th><%= @perfils.human_attribute_name(:cd_apartamento) %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfils.each do |perfil| %>
      <tr>
        <td><%= perfil.nm_sindico %></td>
        <td><%= perfil.cd_sindico %></td>
        <td><%= perfil.ds_email %></td>
        <td><%= perfil.cd_telefone %></td>
        <td><%= perfil.cd_celular %></td>
        <td><%= perfil.ds_endereco %></td>
        <td><%= perfil.ds_municipio %></td>
        <td><%= perfil.cd_apartamento %></td>
        <td><%= link_to 'Show', perfil %></td>
        <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Destroy', perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil', new_perfil_path, class:"btn btn-primary btn-lg btn-block" %>
