<body class="container" style="text-align:center;">
    
    <%= link_to image_tag("crabs.png", :alt => "logo", :class => "foo" ), "/"  %>
    
<div style="color: #dc3c28; padding: 0 2% 1%"><h1>THE CRABS</h1></div>
    <!--<#%= link_to 'Morador', welcome_index_path, class:"btn btn-secondary btn-lg" %>-->
    
<!-- ----------------------Cadastro Síndico, sair e logar do devise---------------------------------------------------------------------- -->
    <% if !user_signed_in? && !admin_signed_in?%> 
      <h5 style="padding: 1%"><%= t('pp') %></h5>
      <div style=" align-items: center; padding:1%; margin-right: 5%;" id="ocultar">
          <ul style="display: inline; text-decoration: none; list-style:none;"> 
            <li style="display: inline;"><%= link_to t('sindico'), new_admin_session_path, class:"btn btn-info", :style => "padding:4%;" %></li>
            <li  style="display: inline;"><%= link_to t('morador'), new_user_session_path, class:"btn btn-info", :style => "padding:4%;" %></li>
            <!--<li style="display: inline;"><#%= link_to t('links.back'), destroy_admin_session_path, class:"btn btn-light",  method: :delete %></li><br>-->
          </ul>
      </div>
      
        <div style=" align-items: center; margin-right: 5%; margin-top:1%;">
            <ul style="display: inline; text-decoration: none; list-style:none;"> 
                <li  style="display: inline;"><%= link_to t('links.back'), destroy_user_session_path, class:"btn btn-danger", :style => "padding:4%;", method: :delete %></li>
                <h2><%= current_user.try(:email) %></h2>
            </ul>
        </div>
    <% end %>   
  

    <% if admin_signed_in?%>
        <h3><%= t('new.log') %><%= current_admin.try(:email) %></h3><br>
        <p><%= link_to t('predios'), predios_path, class:"btn btn-danger",:style => "padding:4%;" %> <%= link_to t('calen'), eventos_path, class:"btn btn-success", :style => "padding:4%;" %></p>
        <p><%= link_to t('finances'), finances_path, class:"btn btn-primary", :style => "padding:4%;" %> <%= link_to t('newresident'), new_user_registration_path, class:"btn btn-warning", :style => "padding:4%;" %>
        <%= link_to t('myprofile'), information_index_path, class:"btn btn-info",:style => "padding:4%;" %></p>
        <p><%= link_to t('exit'), destroy_admin_session_path, class:"btn btn-outline-secondary",:style => "padding:4%;", method: :delete %></p>
        
    <% else%>
        <%if !admin_signed_in? && user_signed_in? %>
            <h3><%= t('new.log') %><%= current_user.try(:email) %></h3><br>
            <p><%= link_to t('predios'), predios_path, class:"btn btn-danger",:style => "padding:4%;" %> <%= link_to t('calen'), eventos_path, class:"btn btn-success", :style => "padding:4%;" %></p>
            <p><%= link_to t('finances'), finances_path, class:"btn btn-dark",:style => "padding:4%;" %> <%= link_to t('newresident'), new_user_registration_path, class:"btn btn-warning", :style => "padding:4%;" %>
            <%= link_to t('myprofile'), information_index_path, class:"btn btn-info",:style => "padding:4%;" %></p>
            <p><%= link_to t('exit'), destroy_user_session_path, class:"btn btn-outline-secondary",:style => "padding:4%;", method: :delete %></p>
        <%end%>
    <% end %>    
    </div>

    
</body>

