<div class="jumbotron" style="text-align:verify;">
  <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "E-mail" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-success"  %>
  </div><br />
<% end %>

<%= render "admins/shared/links" %>
<%= link_to "Back", login_useropc_path %>
</div>