<!DOCTYPE html>
<html>
  <head>
    <title>The Crabs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
     <%= favicon_link_tag asset_path('iconcrabs.png') %>

  </head>
  <body>
    <div class="container-fluid">
      <ul class="nav justify-content-end" id="linha">
        <!--<li>
          <= link_to 'HOME', root_path, class:"nav-link" %>
        </li>-->
        <li class="nav-item">
          <%= link_to 'PT', root_path(locale: 'pt-BR'), class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'EN', root_path(locale: 'en'), class:"nav-link" %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>